.employee {
    &__link {
        align-items: center;
        color:  var(--color-white);
        display: flex;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        top: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
            top: -1rem;
        }
    }

    &__data-name {
        font-size: 1.6rem;
        margin-top: 2rem;
        text-align: center;
    }

    &__photo-wrapper {
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 14rem;
        overflow: hidden;
        position: relative;
        width: 14rem;

        &:hover {
            .employee__winner-confetti {
                display: block;
            }
        }
    }

    &__hover,
    &__photo-wrapper-img {
        position: relative;
        top: 20px;
        z-index: 10;
    }

    &__hover {
        display: none;
    }

    &__photo-wrapper {
        &.is-hover {
            &:hover {
                .employee__hover {
                    display: block;
                }

                .employee__photo-wrapper-img {
                    display: none;
                }
            }
        }
    }

    &__data {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        &-function {
            font-size: 1.4rem;
            margin-top: 1rem;
            text-align: center;
        }
    }

    &__new {
        animation: pulse 1s infinite;
        position: absolute;
        bottom: 1rem;
        display: inline-block;
        z-index: 10;
        transform: rotate(15deg);
    }

    &__winner {
        animation: shake 1s infinite;
        color: #ffd700;
        bottom: 0;
        font-size: 4.4rem;
        display: inline-block;
        position: absolute;
        z-index: 10;

        &-confetti {
            display: none;
            position: absolute;
        }
    }
}

@media (min-width: 768px) {
    .employee {
        &__photo-wrapper {
            height: 15rem;
            width: 15rem;
        }

        &__data-name {
            font-size: 1.8rem;
        }
    }
}

@media (min-width: 1512px) {
    .employee {
        &__data {
            &-name {
                font-size: 2.5rem;
            }

            &-function {
                font-size: 1.6rem;
            }
        }

        &__photo-wrapper {
            height: 20rem;
            width: 20rem;
        }
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) ; }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes pulse {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.1) rotate(15deg); }
    50% { transform: scale(1) rotate(0deg); }
    75% { transform: scale(1.1) rotate(15deg); }
    100% { transform: scale(1) rotate(0deg); }
}