.header {
  background-color: var(--color-white);
  box-shadow: 0 0.5rem 2.5rem var(--color-black);
  padding: 2rem;
}

.header__logo {
  color: var(--color-white);
  display: flex;
  text-decoration: none;
}

.header__logo-icon {
  height: auto;
  width: 5rem;
}

.header__logo-title {
  color: var(--color-primary);
  font-size: 2.4rem;
  height: 4rem;
  left: 1rem;
  position: relative;
  top: 1.5rem;
}

.menu__hamburger {
  color: var(--color-primary);
  font-size: 2.4rem;
  position: absolute;
  right: 2rem;
  top: 3.3rem;
}

.menu__hamburger.active .menu__hamburger-open {
  display: none;
}

.menu__hamburger-close {
  display: none;
  font-size: 2.6rem;
}

.menu__hamburger.active .menu__hamburger-close {
  display: inline-block;
}

.main__menu {
  background-color: var(--color-white);
  box-shadow: 0 0 0 var(--color-black);
  left: 0;
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  transform: translateX(-340px);
  transition: all 0.4s ease-in-out;
  width: 24rem;
  z-index: 20;
}

.main__menu.active {
  box-shadow: 0 0.5rem 2.5rem var(--color-black);
  transform: translateX(0);
}

.main__menu-item {
  list-style-type: none;
  border-bottom: 1px solid #3f4146;
}

.main__menu-item:first-child {
  border-top: 1px solid #3f4146;
}

.main__menu-item-link {
  color: var(--color-primary);
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.main__menu-item-link.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.main__menu-item-link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.content {
  background-color: var(--color-primary);
  padding: 2rem 2rem 4rem 2rem;
}

@media (min-width: 1024px) {
  .header {
    height: 100%;
    padding: 0 3rem;
    position: fixed;
    width: 24rem;
  }

  .header__logo-icon {
    width: 7rem;
  }

  .header__logo-title {
    font-size: 2.8rem;
    left: 1rem;
    top: 2.6rem;
  }

  .menu__hamburger {
    display: none;
  }

  .main__menu {
    box-shadow: none;
    display: block;
    margin-top: 4rem;
    padding: 0;
    position: relative;
    transform: none;
    width: 100%;
  }

  .main__menu-item-link {
    font-size: 1.6rem;
  }

  .content {
    min-height: calc(100vh - 8rem);
    padding: 4rem;
    margin-left: 30rem;
  }
}
