.employee__detail {
  padding: 2rem;
}

.employee__detail-name {
  color: var(--color-white);
  font-size: 4.8rem;
  margin-top: 2rem;
  position: relative;
}

.employee__detail-new {
  position: absolute;
  top: -1.5rem;
  transform: rotate(15deg);
}

.employee__detail-function {
  color: var(--color-white);
  font-size: 2rem;
  margin-top: 1rem;
}

.employee__detail-info {
  color: var(--color-white);
  font-size: 1.6rem;
  list-style-type: none;
  margin-top: 2rem;
  width: 100%;
}

.employee__detail-info li {
  border-bottom: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 1.5rem;
}

.employee__detail-info li:last-child {
  border-bottom: 0;
}

.employee__detail-info a {
  color: var(--color-white);
  text-decoration: none;
}

.employee__detail-info a:hover {
  text-decoration: underline;
}

.employee__detail-photo-wrapper {
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 20rem;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  width: 20rem;
}

@media (min-width: 1024px) {
  .employee__detail-name {
    font-size: 6.4rem;
    margin-top: 0;
  }

  .employee__detail-function {
    font-size: 2.8rem;
  }

  .employee__detail-info {
    margin-top: 4rem;
    width: 30rem;
  }
}

@media (min-width: 1512px) {
  .employee__detail-photo-wrapper {
    bottom: 4rem;
    height: 30rem;
    position: absolute;
    right: 4rem;
    width: 30rem;
  }
}
