.employee__detail {
    padding: 2rem;

    &-name {
        color: var(--color-white);
        font-size: 4.8rem;
        margin-top: 2rem;
        position: relative;
    }

    &-new {
        position: absolute;
        top: -1.5rem;
        transform: rotate(15deg);
    }

    &-function {
        color: var(--color-white);
        font-size: 2rem;
        margin-top: 1rem;
    }

    &-info {
        color: var(--color-white);
        font-size: 1.6rem;
        list-style-type: none;
        margin-top: 2rem;
        width: 100%;

        li {
            border-bottom: 1px solid var(--color-white);
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 1.5rem;

            &:last-child {
                border-bottom: 0;
            }
        }

        a {
            color: var(--color-white);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-photo-wrapper {
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 20rem;
        margin-top: 4rem;
        overflow: hidden;
        position: relative;
        width: 20rem;
    }
}

@media (min-width: 1024px) {
    .employee__detail {
        &-name {
            font-size: 6.4rem;
            margin-top: 0;
        }

        &-function {
            font-size: 2.8rem;
        }

        &-info {
            margin-top: 4rem;
            width: 30rem;
        }
    }
}

@media (min-width: 1512px) {
    .employee__detail-photo-wrapper {
        bottom: 4rem;
        height: 30rem;
        position: absolute;
        right: 4rem;
        width: 30rem;
    }
}
